<!DOCTYPE html>
<html>
{% load leaflet_tags %}
<head>
    <meta charset="utf-8">
    <title>User Detail</title>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
    <ul>
        <li>user: {{ user.username }}</li>
        <li>phone: {{ user.profile.phone }}</li>
        <li>{{ user.profile.location }}</li>
    </ul>
    {% leaflet_map "main" callback="map_init" %}

    <script type="text/javascript">
        function map_init(map, options) {
            // get point lat and lon
            var lon = "{{ user.profile.geom.x }}";
            var lat = "{{ user.profile.geom.y }}";

            // zoom to point & add it to map
            map.setView([lat, lon], 12);
            L.marker([lat, lon]).addTo(map);
        }
    </script>
    
</body>
</html>