{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content%}
    <div class="container h-100">
        <h2 class="text-center">Login</h2>
        <div class="row h-100 justify-content-center align-items-center">

            <form method="post">
              {% csrf_token %}
              
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary">Login</button>
              
            </form>
        </div>
    </div>
{% endblock%}